@{
    ViewBag.Title = "Home";
}

@Scripts.Render("~/bundles/jquery")

<br>
<br>

<div class="panel panel-default .panel-primary">

    <div class="panel-heading">
        Create a map
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#text-tab">From text</a></li>
            <li><a data-toggle="tab" href="#grid-tab">From grid</a></li>
        </ul>

        <div class="tab-content container">
            <div id="text-tab" class="row tab-pane fade in active">
                <div class="col-sm-6 well">
                    <h4>Fill in the textbox</h4>
                    <form>
                        <div class="form-group">

                            <textarea class="form-control" rows="10" id="text-data" title="Hint" data-toggle="popover" data-placement="top"
                                      animation="true" data-trigger="hover" data-content="Input numbers pressing enter after each line. Each line should contain one number more than the previous.">
                                3
                                7 4
                                2 4 6
                                8 5 9 3
                            </textarea>

                        </div>
                    </form>
                </div>
                <div class="col-sm-6 well">
                    <div class="form-group">
                        <label for="sel">Select predefined map:</label>
                        <select class="form-control" id="sel">
                            <option>example.txt</option>
                            <option>simple_triangle.txt</option>
                            <option>triangle.txt</option>
                        </select>
                    </div>
                </div>
            </div>
            <p><a id="sub" class="btn btn-primary" href="#">Create</a></p>
            <div id="grid-tab" class="tab-pane fade in">
                <h4>Fill in the grid</h4>
                @Html.Partial("Grid")
            </div>
        </div>
        <!--
           <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
        </div> 
        -->
        

    </div>
</div>

<br\></br\>
<div class="panel panel-default .panel-primary">

    <div class="panel-heading">
        Result
    </div>
    <div class="panel-body">

        <div id="render-container">

        </div>

    </div>
</div>


<script>
    $(document).ready(
        function()
        {
            $('[data-toggle="popover"]').attr("delay",{show: 2000, hide: 300}).popover();

            $('#sub').click(function () {
                        alert($('#text-data').val());
                        $.ajax({
                            url: "@Url.Action("GetResult", "Home")",
                            data: "data=" + $('#text-data').val(),
                            type: "POST"
                        })
                          .done(function (data) {
                                if (console && console.log)
                                {
                                    alert(data.sum + "   " + data.dir);
                                    //alert("Got response:");
                                }
                            });
            })
        }
     )


</script>